body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  background:
  radial-gradient(circle at left, rgb(69, 231, 0), transparent 50%),
  radial-gradient(circle at 100% 10%, rgb(69, 231, 0), transparent 10%);
  background-repeat: no-repeat, no-repeat;

  background-size: 60%, 40%;
  background-position: left, right;
}



@media screen and (min-width: 600px){
body {
   background:
    radial-gradient(circle at left calc(0% + 480px), rgb(69, 231, 0), transparent 30%),
    radial-gradient(circle at right calc(0% + 300px), rgb(69, 231, 0), transparent 20%);
  
  background-repeat: no-repeat, no-repeat;
  background-size: 70%, 50%;
  background-position: left, right;
}

}

@media screen and (min-width: 1280px) {
 body{
   background:
    radial-gradient(circle at left, rgb(69, 231, 0), transparent 50%),
    radial-gradient(circle at calc(100%) calc(0% + 400px), rgb(69, 231, 0), transparent 40%);
  
  background-repeat: no-repeat, no-repeat;
  background-size: 60%, 40%;
  background-position: left, right;
 }

}

.header{
  border-bottom: solid 1px rgb(220, 220, 220);
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 5px;
}

.sections-container{
  margin-left: 0;
}

.section-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 7px;
 
}

.section{
  list-style: none;
  font-size: 14px;
  color: grey;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  width: 100%;
}


.Kodix-picture-profile{
  justify-content: center;
  height: 40px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.buttons-container{
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.button-logIn{
  width: 80px;
  height: 32px;
  border-radius: 16px;
  font-size: 12px;
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  font-size: 14px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button-logIn:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.button-signUp{
 width: 80px;
 height: 32px;
 border-radius: 16px;
 font-size: 12px;
 border: none;
 background-color: rgb(54, 179, 0);
 color: white;
 font-weight: 500;
 cursor: pointer;
 transition: box-shadow 0.3s ease;
}

.button-signUp:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}



@media screen and (min-width: 768px){

  .Kodix-picture-profile{
  left: 50%;
  transform: translateX(-20%);
  height: 40px;
  width: 120px;
}

.buttons-container{
  margin-right: 0;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.sections-container{
  margin-left: 0px;
}

.section-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
 
}

.section{
  list-style: none;
  font-size: 14px;
  color: grey;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}

.header-container{
  height: 80px;
  padding: 0;
}
}




@media screen and (min-width: 1280px) {
.sections-container{
  margin-left: 40px;
}

.section-container{
  gap: 10px;
}

.Kodix-picture-profile{
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 180px;
}

.header-container{
  max-width: 1500px;
  margin: auto;
}

.button-logIn{
 width: 110px;
 height: 40px;
 border-radius: 20px;
 font-size: 14px;
}

.button-signUp{
  width: 110px;
 height: 40px;
 border-radius: 20px;
 font-size: 14px;
}

.buttons-container{
  margin-right: 0;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.sections-container{
  margin-left: 20px;
}

.section-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 5px;
 
}

.section{
  margin: 10px;
  list-style: none;
  font-size: 14px;
  color: grey;
  font-weight: 500;
  cursor: pointer;
}

.header-container{
  height: 80px;
  padding: 0;
}

}