
/*First Section*/

.first-section{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.first-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
}

.featured{
  margin-top: 2px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.03em;
  color: black;
  margin-bottom: 20px;
}

.nameOfPost{
  line-height: 1.2;
  font-size: clamp(24px, 4vw, 35px);
  letter-spacing: -.05em;
  margin: 0;
  color: black;
  max-width: 400px;
}

.descripPost{
  color: grey;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: clamp(12px, 2vw, 14px);
  
}

.containerForDate{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.dateOfPost{
color: grey;
font-size: 13px;
font-weight: 600;
letter-spacing: -.02em;
}

.authorOfPost{
  width: 100px;
  height: 34px;
  border-radius: 20px;
  border: solid 1px rgb(183, 183, 183);
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 2px 6px;
}

.autorName{
  color: black;
  margin: 0;
}


.container-post{
  width: 100%;
  max-width: 900px;
  height:clamp(180px, 40vw, 360px);
  background-color: rgb(234, 233, 233);
  margin-top: 15px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 0;
  
  cursor: pointer;
}

.container-post-button{
  width: 90px;
  height: 22px;
  font-size: 10px;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 2px;
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.container-icons{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.text-icon{
  color: black;
  font-size: 14px;
  margin-right: 5px;
}

.icon-wrapper{
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.icon-wrapper-facebook{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;

}

.icon-wrapper-facebook.facebook ion-icon {
  font-size: 31px;
  color: #1877F2;
}

.icon-wrapper.x-icon {
  background-color: black;
}

.x-svg{
  font-size: 19px !important;
  color: white;
}

.icon-wrapper.youtube {
  background: red;
}

.icon-wrapper.youtube ion-icon {
  font-size: 16px;
  color: white;
}




/*Second section*/
.second-section{
  margin-top: 25px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.container-posts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: solid 2px rgb(226, 226, 226);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  gap: 20px;
  transition: box-shadow 0.3s ease;
  max-width: 1500px;
  margin: auto;
}

.container-post:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}


.container-small-post{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.post-video{
  width: auto;
  height: 160px;
  background-color: rgb(234, 233, 233);
  border-radius: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.post-video:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.post-info{
  margin: 0;
  padding: 0;
}

.post-info *{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.post-data{
font-size: 12px;
color: grey;
margin-top: 15px;
margin-bottom: 20px;
}

.post-name{
  font-size: 14px

}

.post-disc{
  font-size: 12px;
  color: grey;
  margin-top: 10px;
}

@media (min-width: 1280px) {
  .container-posts {
    grid-template-columns: repeat(5, 1fr);
  }
}


.starContainer{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  color: rgb(69, 231, 0);
}
