.main-section{
  display: grid;
  grid-template-columns: 650px 500px;
  max-width: 1300px;
  gap: 120px;
  margin: 40px auto;
  padding: 0 40px;
}

/*First Section*/

.post-first-section{
  margin-bottom: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.post-first-main-container{
  display: flex;
  flex-direction: column;
  max-width: auto;
  justify-content: flex-start;
  align-items: flex-start;

}

.post-nameOfPost{
  line-height: 1.2;
  font-size: clamp(24px, 4vw, 30px);
  letter-spacing: -.05em;
  margin: 0;
  color: black;
  max-width: 380px;
  text-align: left;
}

.post-descripPost{
  color: grey;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: clamp(12px, 2vw, 14px);
  
}

.post-containerForDate{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.post-dateOfPost{
color: grey;
font-size: 10px;
font-weight: 600;
letter-spacing: -.02em;
}

.post-authorOfPost{
  width: 100px;
  height: 34px;
  border-radius: 20px;
  border: solid 1px rgb(183, 183, 183);
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 2px 5px;
}

.author-icon-circle{
  font-size: 34px !important;
  color: rgb(180, 180, 180) !important;
}

.post-autor-Name{
 color: black;
  margin: 0;
}

.post-container-post{
  width: 100%;
  max-width: 900px;
  height:clamp(120px, 20vw, 240px);
  background-color: rgb(234, 233, 233);
  margin-top: 15px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 0;
  
  cursor: pointer;
}

.post-container-post-button{
  border: none;
  background-color: grey;
  color: white;
  border-radius: 2px;
  position: absolute;
  left: 20px;
  width: 90px;
  height: 22px;
  font-size: 10px;
  left: 20px;
  bottom: 25px;
}

.post-container-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}

.post-text-icon{
  color: black;
  font-size: 14px;
  margin-right: 5px;
}

.post-container-posts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: transparent;
  gap: 40px;
}

.post-article-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title-article-icon{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.Feed-Icon{
  color: rgb(255, 98, 0);
}

.post-title-article{
 font-size: 20px;
 font-weight: 500;
 margin: 0;
}

.post-button-article{
  width: 110px;
  height: 40px;
  border: solid 1px rgb(203, 203, 203);
  background-color: white;
  border-radius: 20px;
}

.post-container-small-post{
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 15px;
  cursor: pointer;
}

.post-post-video{
width: 100%;
height: 140px;
background-color: rgb(234, 233, 233);
border-radius: 10px;
cursor: pointer;
transition: box-shadow 0.3s ease;
}

.post-post-video:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.post-post-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-post-info *{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.post-post-data{
font-size: 12px;
color: grey;
margin-top: 0px;
margin-bottom: 20px;
}

.post-post-name{
font-size: 18px;
font-weight: 700;
line-height: 1.2;
}

.post-post-disc{
  font-size: 12px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



